<%- content_for(:context) do -%>home<%- end -%>
<a href="<%=url_for :controller => 'home', :action => 'index'%>" class="image-link">
	<img src= "<%= image_path 'projectnomnom_title.jpg' %>" alt="nomnom_title" title="Nom nom!" />
</a>
<img id="banner" src="<%= image_path 'nomnom_banner.jpg' %>" alt="nomnom_image" title="How it be done." width="750px"/>
<form id="main_search" action="<%=url_for :controller => 'search', :action => 'index'%>" method="get">
	<input id="query" name="query" class="search homesearch" type="text" maxlength="40" value="" />
	<input class="button homebutton" type="submit" value="Find Recipes!"/>
</form>
