<%- content_for(:context) do -%>recipe<%- end -%>
<h1 class="title">Submit a Recipe</h1>
<div class="recipe_info">
	Here you can submit a recipe by filling out the description, ingredients and directions.
</div>
</br>
<form action="<%=url_for :controller => 'recipe', :action => 'create'%>" method="get">
	<h6>Information</h6>
	<div id="description_area" class="recipe_area">
		Recipe Name: <input name="recipe_title" class="ingredient_text" type="text" maxlength="40" value=""/>
		</br>
		Description: <textarea name="description_text" cols="100" rows="5"></textarea>
	</div>
	</br>
	<h6>Ingredients</h6>
	<div id="ingredient_area" class="recipe_area">
		<table class="recipe_ingredients">
			<%-
			i = 0;
			while i < 3 -%>
				<tr>
					<td>Amount: <input name="amount_<%= i %>" class="ingredient_text" type="text" maxlength="40" value=""/></td>
					<td>Ingredient: <input name="item_<%= i %>" class="ingredient_text" type="text" maxlength="40" value=""/></td>
				</tr>
			<%-
				i += 1;
			end -%>
		</table>
		<button id="add_ingredient">Add Ingredient</button>
	</div>
	</br>
	<h6>Directions</h6>
	<div id="directions_area" class="recipe_area">
		Directions: <textarea name="directions_text" cols="100" rows="7"></textarea>
	</div>
	<!--<input class="button ingredient_button" type="submit" value="Add Ingredient"/>-->
	</br>
	<input class="button recipe_button" type="submit" value="Submit Recipe"/>
</form>
