<%- content_for(:context) do -%>about<%- end -%>
<h1 class="title">About</h1>

<h3>Who We Are</h3>
<div class="about_info">
	ProjectNomNom is a group of computer science students at the University of Washington.</br>
	This site combines our interests in distributed computing, data mining, website design, and food.</br></br>
	If you have any questions feel free to contact us at any of the emails below.
</div>
</br>
<h3>The Team</h3>
<div class="about_info">
	<table id="contacts_table">
		<tr id="contact_labels"><td>Team Member</td><td>Contact Info</td></tr>
		<tr><td>Aryan Naraghi</td><td>aryan@cs.washington.edu</td></tr>
		<tr><td>Josh Mottaz</td><td>gerhalt@cs.washington.edu</td></tr>
		<tr><td>Noé Khalfa</td><td>noekh@cs.washington.edu</td></tr>
		<tr><td>Roy McElmurry</td><td>roy@cs.washington.edu</td></tr>
		<tr><td>Ryan Oman</td><td>namos@cs.washington.edu</td></tr>
	</table>
</div>
