<%- content_for(:context) do -%>conflict<%- end -%>

<div id="ingredients">
	<ul>
		<%- for ingr in @recipe.ingredients -%>
		<li>
			<%= ingr.amount + " " + ingr.item%>
		</li>
		<%- end -%>
	</ul> 
</div>