<%- content_for(:context) do -%>conflict<%- end -%>

<div id="ingredients">
		<%- for ingr in @recipe.ingredients -%>
		<div>
			<select class="ingredient">
				<option><%= ingr.amount + " " + ingr.item%></option>
			</select>
		</div>
		<%- end -%>
</div>