<%- content_for(:context) do -%>conflict<%- end -%>
<div id="header">
	<div id="<%= @recipe.id %>" class="ingredients">
		<h1><%= @recipe.title %></h1>
	</div>
	<button id="prev" class="nav">Prev</button>
	<button id="next" class="nav">Next</button>
</div>
<iframe id="amazonFreshFrame" src="http://fresh.amazon.com/"></iframe>
<script type="text/javascript">
	var ingredients = <%= @recipe.ingredients.map { |ingr| ingr.id }.to_json.html_safe %>
</script>
