body {
    background-image: url('../images/pattern_brown.gif');
    padding: 15px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

#container {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding: 25px 30px;
    border: 10px solid #7F462C;
    background-color: #ffffff;
}
