html {
	height: 100%;
	width: 100%;	
}
body {
    background-image: url('../images/pattern_brown.gif');
    background-color: #F29857;
	background-repeat: repeat;
	background-position:center top;
	background-attachment:fixed;
    color: black;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#main{
	display: none;
	text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 25px 30px;
    border: 4px solid #924615;
    background-color: #ffffff;
}
	#main h1{
		font-size: 20px;
	}
	#main h2{
		font-size: 16px;
	}

#signin_header{
	background-color: #ffffff;
	padding: 10px;
	overflow: hidden;
	height: 60px;
}
	#signin_header h2{
		margin: 21px 0;
		float: left;
	}
	button#signed_in{
		margin: 14px;
		float: right;
		cursor: pointer;
	}

#ingr_header{
	display: none;
	background-color: #ffffff;
	padding: 10px;
	overflow: hidden;
	height: 60px;
}

	.ingredients h1 {
		text-align: center;
		font-size: 30px;
		margin: 0;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 2px solid #000000;
	}

	.ingredients h2 {
		text-align: left;
		font-size: 14px;	
		float: left;
		margin: 0;
		width: 50%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
		.ingredients h2 strong {
			text-decoration: underline;
		}
	
	.ingredient{
		clear: left;
	}

	.ingredient.hide {
		display: none;	
	}

	.ingredient.show {
		display: block;	
	}

	.suggestions {
		float: right;
		width: 50%;
	}

	.asinLink:hover {
		text-decoration: underline;
		color: black;
	}

	.itemFail {
		text-align: center;
		padding-top: 20px;	
	}
	
button.nav {
	width: 50px;
	border: 1px solid black;
	margin: 0;
	font-weight: bold;
	position: fixed;
	top: 0;
	cursor: pointer;
}
	#prev{
		left: 0;
	}
	#next{
		right: 0;
	}

iframe#amazonFreshFrame{
	width: 100%;
	border: none;
}
