#image-link {
    border-style: none;
}

.ingredbutton {
	float: right;
    font-size: 16px;
    height: 25px;
    margin: 4px;
    margin-bottom: 8px;
}

.get_ingredients{
	display: block;
	margin-left: 20px;
}

#recipesbox {
    margin: auto;
    width: 700px;
}

.recipetitle {
	float: left;
    text-align: left;
    font-size: 20px;
    margin-bottom: 8px;
    max-width: 440px;
}

.recipe_content {
	clear: both;
	display: none;
	margin-left: 20px;	
}

.recipe_directions {
	margin-left: 20px;
    text-align: left;
    font-size: 16px;
}

.floater {
    float: left;
}
.snippet {
    width: 500px;
}

h2 {
    text-align: left;
}

h3 {
	font-weight: normal;
	text-align: left;	
}

h4 {
	color: #A0522D;
    font-size: 16px;
    margin-bottom: 8px;
}

li {
	text-align: left;	
}

hr {
	clear: both;	
}

#footer {
	clear: both;	
}

